<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre los servicios excepcionales de PetVet, tu clínica veterinaria de confianza. Ofrecemos atención médica integral para tus mascotas, desde consultas generales y vacunas hasta cirugías especializadas. Nuestro equipo dedicado está comprometido con el bienestar animal, proporcionando cuidados personalizados y servicios de calidad. Confía en PetVet para mantener a tus mascotas felices y saludables en cada etapa de sus vidas.">
    <title>Página de los Servicios</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos.css') }}">
</head>

<body>
   <header>
        <div class="menu">
            <img src="{{ url_for('static', filename='recursos/icon/menu.svg') }}" alt="Menú">
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-pagina">
                    <img src="{{ url_for('static', filename='img/icon.png') }}" id="logo" alt="Logo PetVet">
                    <span>Petvet</span>
                </div>
                <button class="boton-cita" onclick="agendarCita()">
                    <img src="{{ url_for('static', filename='recursos/icon/mas.svg') }}" alt="Agendar cita">
                    <span>Agendar cita</span>
                </button>
            </div>

            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="/home/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/inicio.svg') }}" alt="Inicio" class="icon">
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="/citas/agendadas/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/citasAgendadas.svg') }}" alt="Citas Agendadas" class="icon">
                            <span>Citas Agendadas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/guarderia/cita/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/guaderia-pendiente.svg') }}" alt="Citas de Guardería Pendientes" class="icon">
                            <span>Citas Guardería</span>
                        </a>
                    </li>
                     <li>
                        <a href="/citasAdomicilio/">
                            <img src="{{ url_for('static', filename='recursos/icon/servicios-solicitado.svg') }}" alt="Servicios Solicitados" class="icon">
                            <span>Servicios a domicilio </span>
                        </a>
                    </li>
                    <li>
                        <a href="/guarderia/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/guarderia.svg') }}" alt="Guardería" class="icon">
                            <span>Agendar Guardería</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ url_for('static', filename='recursos/icon/adopcion.svg') }}" alt="Adopción" class="icon">
                            <span>Adopción</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="linea"></div>

           <div class="usuario">
                <a href="#" onclick="abrirModal()">
                    <img src="{{ url_for('static', filename='img/user.png') }}" alt="">

                        <div class="nombre-email">
                            <span class="nombre">{{ user.nombre }} {{ user.apellido }}</span>
                            <span class="email">{{ user.correo }}</span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="modal" id="modal">
                <div class="modal-content">
                    <span class="cerrar-modal" onclick="cerrarModal()">&times;</span>
                    <div class="perfil-container">
                        <div class="perfil-header">
                            <div class="perfil-foto-container">
                               <img src="{{ url_for('static', filename='img/user.png') }}" alt="">
                            </div>
                            <div class="perfil-info">
                                <h1>{{ user.nombre }} {{ user.apellido }}</h1>
                                <p>Email: <span id="email">{{ user.correo }}</span></p>
                                <p>Teléfono: <span id="telefono">{{ user.telefono }}</span></p>
                              
                            </div>
                        </div>
                        <div class="accion">
                            <form action="{{ url_for('cerrar_sesion') }}" method="GET">
                                
                            <button class="boton-cs-perfil" id="cerrarsesion">Cerrar Sesión</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </header>
    
    <main>
            <div class="adopt-container">
        <div class="texto">
            <h1 class="h1">¡Adopta un Amigo Fiel!</h1>
            <p class="p">¡Dale a un perro la oportunidad de encontrar un hogar amoroso!</p>
        </div>
    </div>
        <div class="padre">
    
            {% for adopcion in useradopciones %}
            <article class="hijo">
                <div class="hijo__preview1">
                     <img src="{{ adopcion[0] }}" alt="Foto de {{ adopcion[1] }}" class="foto-adopcion" >
                    
                </div>
                <div class="hijo__content1">
                    <h2 class="hijo__title">{{ adopcion[1] }}</h2>
                    <p class="hijo__descrip">{{ adopcion[2] }}</p>
                    <div class="hijo__properties">
                        <span>{{ adopcion[3] }} años |</span><span> {{ adopcion[4] }} </span>
                    </div>
                    <div class="whatsapp-icon">
                        <a href="https://wa.me/18498544639?text=¡Gracias por interesarte en adoptar una de nuestras mascotas! Si tienes alguna pregunta o quieres saber más,
                         no dudes en enviarnos un mensaje. ¡Estamos aquí para ayudarte!" 
                     target="_blank"><img src="{{ url_for('static', filename='img/imagen-whatsapp.jpg') }}" alt="WhatsApp"></a>
                    </div>
                </div>
            </article>
            {% endfor %}
            
    </main>

    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</body>

</html>
