<!-- HECHA POR LAURA -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenido a PetVet, tu veterinaria de confianza dedicada al cuidado integral de tu mascota.">
    <title>Guarderia</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosL.css') }}">
</head>

<body>
    <header>
        <div class="menu">
            <img src="{{ url_for('static', filename='recursos/icon/menu.svg') }}" alt="Menú">
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-pagina">
                    <img src="{{ url_for('static', filename='imagenes/icon.png') }}" id="logo" alt="Logo PetVet">
                    <span>Petvet</span>
                </div>
                <button class="boton-cita" onclick="agendarCita()">
                    <img src="{{ url_for('static', filename='recursos/icon/mas.svg') }}" alt="Agendar cita">
                    <span>Agendar cita</span>
                </button>
            </div>

            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="/home/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/inicio.svg') }}" alt="Inicio" class="icon">
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="/citas/agendadas/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/citasAgendadas.svg') }}" alt="Citas Agendadas" class="icon">
                            <span>Citas Agendadas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/guarderia/cita/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/guaderia-pendiente.svg') }}" alt="Citas de Guardería Pendientes" class="icon">
                            <span>Citas Guardería</span>
                        </a>
                    </li>
                    <li>
                        <a href="/servicios/solicitados/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/servicios-solicitado.svg') }}" alt="Servicios Solicitados" class="icon">
                            <span>Servicios Solicitados</span>
                        </a>
                    </li>
                    <li>
                        <a href="/guarderia/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/guarderia.svg') }}" alt="Guardería" class="icon">
                            <span>Agendar Guardería</span>
                        </a>
                    </li>
                    <li>
                        <a href="/adopcion/usuario/">
                            <img src="{{ url_for('static', filename='recursos/icon/adopcion.svg') }}" alt="Adopción" class="icon">
                            <span>Adopción</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="linea"></div>

            <div class="usuario">
                <a href="#" onclick="abrirModal()">
                    <img src="{{ url_for('static', filename='imagenes/user.png') }}" alt="">
                    <div class="info-usuario">
                        <div class="nombre-email">
                            <span class="nombre">{{ g.user.nombre }} {{ g.user.apellido }}</span>
                            <span class="email">{{ g.user.correo }}</span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="modal" id="modal">
                <div class="modal-content">
                    <span class="cerrar-modal" onclick="cerrarModal()">&times;</span>
                    <div class="perfil-container">
                        <div class="perfil-header">
                            <div class="perfil-foto-container">
                                <img src="{{ url_for('static', filename='imagenes/user.png') }}" alt="">
                            </div>
                            <div class="perfil-info">
                                <h1>{{ g.user.nombre }} {{ g.user.apellido }}</h1>
                                <p>Email: <span id="email">{{ g.user.correo }}</span></p>
                                <p>Teléfono: <span id="telefono">{{ g.user.telefono }}</span></p>
                                <p>Mascota: <span id="mascota">{{ g.user.tipoMascota }}</span></p>
                            </div>
                        </div>
                        <div class="accion">
                            <input type="file" id="subir-foto" accept="image/*" onchange="changeProfilePic()">
                            <label for="subir-foto">Cambiar foto de perfil</label>
                            <button class="boton-cs-perfil" id="cerrar-sesion">Cerrar Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="box">
        <main>
            <div class="favor">
                <div class="texto2">
                    <h1 class="h2">¡Por favor de llenar!</h1>
                    <p class="p2">¡Completa este formulario antes de tu cita para el mejor cuidado de tu mascota!</p>
                </div>
            </div>
        <form class="formulario" method="POST" action="/guarderia/usuario/">

             <input type="hidden" name="id_usuario" value="{{ g.user['id_usuario'] }}">

             <div class="form-1">
                  <label for="servicio">Servicios:</label><br>
                    <select id="servicios" name="id_servicio" class="form-input" required>
                      <option value="">Seleccione una opción</option>
                      <option value="5">Hospedaje y cuidado de mascota</option>
                 </select><br>

               </div>

               <div class="form-2">
                 <label for="desde">Desde:</label><br>
                 <input type="date" id="desde" name="desde" class="form-input" required><br>

                 <label for="hasta">Hasta:</label><br>
                 <input type="date" id="hasta" name="hasta" class="form-input" required><br>

                 <label for="mascota">Mascota:</label><br>
                 <select id="mascota" name="mascota" class="form-input" required>
                      <option value="">Seleccione una opción</option>
                      <option value="1">Perro</option>
                      <option value="2">Gato</option>  
                      <option value="3">Roedores</option>
                      <option value="4">Aves</option>
                     <option value="5">Otros</option>
                 </select><br>
              </div>

              <div>
                 <textarea class="mss" placeholder="Si tienes alguna duda sobre la estadía, háznoslo saber, estaremos pendientes!" name="descripcion"></textarea><br>
             </div>

              <div class="boton">
                 <button type="submit" class="ancho">Enviar</button>
                 <button type="button" class="anchoE" onclick="verCitas()">Ver Citas</button>
             </div>
     </form>

            <script src="{{ url_for('static', filename='js/header.js') }}"></script>

        </main>
    </div>
</body>

</html>
