<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agenda fácilmente citas para el cuidado de tus mascotas en PetVet. Ofrecemos un proceso simple y eficiente para proporcionar la mejor atención veterinaria a tus animales. Confía en nosotros para simplificar el cuidado de tus seres queridos.">
    <title>Sistema del administrador</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos_tiara.css') }}">
    <script src="{{ url_for('static', filename='js/ponerFoto.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="body-adop">

     <header class="alto-admi">
      <div >
      <figure> <img src="{{ url_for('static', filename='imagenes/logo.png') }}" class="logo" alt="Logo petvet" title="Logo"></figure>
      </div>

      <div class="bajo-header">
        <div class="text-pag-b">
      <h1>Citas pendientes- Administrador</h1>
      </div>

      <div class="con-botones">
      <a href="/admin/">
      <figure class="icons"> <img class="botones"  src="{{ url_for('static', filename='imagenes/a-home.png') }}" alt="Inicio" title="Inicio"></figure>
      </a>
    
      <a href="/">
      <figure class="icons"><img class="botones" src="{{ url_for('static', filename='imagenes/a-saalir.png') }}" alt="Cerrar Sesion" title="Cerrar Sesion"></figure>
      </a>
      </div>
      </div>
    </header>
    
    <main class="adopt-container main-adop">
        <div class="texto">
            <h1 class="h1">¡Adopta un Amigo Fiel!</h1>
            <p class="p">¡Dale a un perro la oportunidad de encontrar un hogar amoroso!</p>
        </div>

        <form class="form-container" method="post" enctype="multipart/form-data">
            <div class="form-group form-group-image">
                <label for="foto_mascota">Subir imagen</label>
                <input type="file" id="foto_mascota" name="foto_mascota" required>
            </div>

            <div class="form-group"> 
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" placeholder="Nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="descripcion" id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="edad">Edad (años)</label>
                <input type="number" id="edad" name="edad" maxlength="2" required>
            </div>

            <div class="form-group">
                <label for="sexo">Sexo</label>
                <select id="sexo" name="sexo" required>
                    <option value="macho">Macho</option>
                    <option value="hembra">Hembra</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit">Subir</button>
            </div>
        </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Foto de la Mascota</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Acciones</th>
            </tr>
            {% for adopcion in adopciones %}
            <tr>
                <td>{{ adopcion[0] }}</td>
                
               <td><img src="{{ adopcion[1] }}" alt="Foto de {{ adopcion.nombre }}" style="width:100px;"></td>
                
                <td>{{ adopcion[2] }}</td>
                <td>{{ adopcion[3] }}</td>
                <td>{{ adopcion[4] }}</td>
                <td>{{ adopcion[5] }}</td>
                  <td>
                <form method="POST" action="{{ url_for('eliminar_adopcion', id_adopcion=adopcion[0]) }}">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </table>
    </main>
   
</body>
</html>
