<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo-pagina">Citas pendientes</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}" class="icono-pagina">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos.css') }}" class="estilos-css">
</head>

<body class="body-admin">
    <header class="header-admin">
        <div class="header-logo">
            <figure class="logo-figure">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-img" alt="Logo petvet" title="Logo">
            </figure>
        </div>

        <div class="header-bottom">
            <div class="text-pag-b">
                <h1 class="titulo-pag">Citas pendientes - Administrador</h1>
            </div>

            <div class="con-botones">
                <a href="/admin/" class="enlace-boton">
                    <figure class="icon-figure">
                        <img class="boton-img" src="{{ url_for('static', filename='img/a-home.png') }}" alt="Inicio" title="Inicio">
                    </figure>
                </a>
            
                <a href="/" class="enlace-boton">
                    <figure class="icon-figure">
                        <img class="boton-img" src="{{ url_for('static', filename='img/a-saalir.png') }}" alt="Cerrar Sesión" title="Cerrar Sesión">
                    </figure>
                </a>
            </div>
        </div>
    </header>  

    <main class="main-agen-admin">
        <div class="div-tabla">
            <table class="tabla-citas">
                <thead class="thead-tabla">
                    <tr class="tabla-arriba">
                        <th class="alto-tabla">ID</th>
                        <th class="alto-tabla">Fecha</th>
                        <th class="alto-tabla">Tanda</th>
                        <th class="alto-tabla">Descripción</th>
                        <th class="alto-tabla">Usuario</th>
                        <th class="alto-tabla">Mascota</th>
                        <th class="alto-tabla">Servicio</th>
                    </tr>
                </thead>
                <tbody class="tbody-tabla">
                    {% for cita in citas %}
                    <tr class="fila-cita">
                        <td class="campo-id">{{ cita.id_citas }}</td>
                        <td class="campo-fecha">{{ cita.fecha }}</td>
                        <td class="campo-tanda">{{ cita.tanda }}</td>
                        <td class="campo-descripcion">{{ cita.descripcion }}</td>
                        <td class="campo-usuario">{{ cita.usuario }}</td>
                        <td class="campo-mascota">{{ cita.mascota }}</td>
                        <td class="campo-servicio">{{ cita.servicio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>


</body>
</html>
