<!-- HECHA POR YOHAN -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios a Domicilio</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilos_tiara.css') }}">
</head>
<body class="body-admin-tabla">
    <header class="alto-admi">
        <div>
            <figure>
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="Logo petvet" title="Logo">
            </figure>
        </div>
        <div class="bajo-header">
            <div class="text-pag-b">
                <h1>Servicios a Domicilio - Administrador</h1>
            </div>
            <div class="con-botones">
                <a href="/admin/">
                    <figure class="icons">
                        <img class="botones" src="{{ url_for('static', filename='img/a-home.png') }}" alt="Inicio" title="Inicio">
                    </figure>
                </a>
                <a href="/">
                    <figure class="icons">
                        <img class="botones" src="{{ url_for('static', filename='img/a-saalir.png') }}" alt="Cerrar Sesion" title="Cerrar Sesion">
                    </figure>
                </a>
            </div>
        </div>
    </header>
      
    <main class="main-agen-admin">
        <div class="div-tabla">
         <table>
             <thead>
                 <tr class="tabla-arriba">
                     <th class="alto-tabla">ID</th>
                     <th class="alto-tabla" >Fecha</th>
                     <th class="alto-tabla">Tanda</th>
                     <th class="alto-tabla">Descripcion</th>
                     <th class="alto-tabla">Usuario</th>
                     <th class="alto-tabla">Mascota</th>
                     <th class="alto-tabla">Servicio</th>
                 </tr>
             </thead>
             <tbody>
                 {% for appointment in appointments %}
                 <tr>
                     <td>{{ appointment.id_citas }}</td>
                     <td>{{ appointment.fecha }}</td>
                     <td>{{ appointment.tanda }}</td>
                     <td>{{ appointment.descripcion }}</td>
                     <td>{{ appointment.usuario }}</td>
                     <td>{{ appointment.mascota }}</td>
                     <td>{{ appointment.servicio }}</td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
        </div>
     </main>
</body>
</html>
